.wrapper{
    text-align: center;
}
.wrapper1{
    text-align: center;
    overflow:hidden;
}
.div1{
    width: 800px;
    height: 100px;
    display: inline-block;
    padding:10px;
}
.div2{
    width: 500px;
    height: 200px;
    display: inline-block;
}
table{
    margin:auto;
}
td{
    width:25%;
    border-collapse: collapse;
    border: none;
}
.forsideBtn{
    background-color:#3C5898;
    color:white;
    border: 1px solid darkslateblue;
    padding: 7px 10px;
    text-align: center;
    margin: 3px;
    border-radius: 10px;
    width:90%
}
.forsideBtn:hover{
    background-color: seagreen;
    box-shadow: dimgrey 3px 3px 3px;
}
.btn{
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #3C5898;
    border: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-family: Cambria;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover {
    background-color: seagreen;
    box-shadow: dimgrey 3px 3px 3px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button1 {
    display: inline-block;
    border-radius: 10px;
    background-color: #3C5898;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: Cambria;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button1:hover span {
    padding-right: 25px;
}
.button1:hover span:after {
    opacity: 1;
    right: 0;
}
.button1:hover {
    background-color: seagreen;
    box-shadow: dimgrey 3px 3px 3px;
}