.wrapper{
    text-align: center;
}
.div1{
    width: 800px;
    height: 100px;
    display: inline-block;
}
.div2{
    width: 500px;
    height: 200px;
    display: inline-block;
}
table{
    margin:auto;
}
td{
    width:25%;
}
