.wrapper{
    text-align: center;
}
.wrapper1{
    text-align: center;
    overflow:hidden;
}
.div1{
    width: 800px;
    height: 100px;
    display: inline-block;
    padding:10px;
}
.div2{
    width: 500px;
    height: 200px;
    display: inline-block;
}
table{
    margin:auto;
}
td{
    width:25%;
    border-collapse: collapse;
    border: none;
}
.forsideBtn{
    background-color:#3C5898;
    color:white;
    border: 1px solid darkslateblue;
    padding: 7px 10px;
    text-align: center;
    margin: 3px;
    border-radius: 10px;
    width:90%
}
.forsideBtn:hover{
    background-color: seagreen;
    box-shadow: dimgrey 3px 3px 3px;
}