.wrapper{
    text-align: center;
}
body{
    font-family: Cambria;
    background-color: #D4D8E9;
}
.returnButton{
    background-color: #3C5898;;
    border-radius: 25px;
    font-family: Cambria;
    border: 1px solid darkslateblue;
    padding: 10px;
    margin: 12px;
}
h1{
    text-align: center;
}
pre{

}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0px 0px 0px;
}
th{
    background-color: #3C5898;
    color:white;
}
td, th{
    border: 2px solid black;
    text-align: left;
    padding: 2px;
    color:black;
}
.btn{
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
}
.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #3C5898;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: Cambria;
    padding: 7px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover {
    background-color: seagreen;
    box-shadow: dimgrey 3px 3px 3px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button1 {
    display: inline-block;
    border-radius: 10px;
    background-color: #3C5898;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: Cambria;
    padding: 7px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button1:hover span {
    padding-right: 25px;
}
.button1:hover span:after {
    opacity: 1;
    right: 0;
}
.button1:hover {
    background-color: red;
    box-shadow: dimgrey 3px 3px 3px;
}
.infoBox{
    font-weight: bold;
}