<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract Table</title>
</head>
<h1>Contract table</h1>
<body>
<a href = "/createContract">
    <button>Create new contract</button>
</a>
<table>
    <thead>
    <tr>
        <th>Contract Id</th>
        <th>Customer Id</th>
        <th>Motorhome Id</th>
        <th>Motorhome Registration Number</th>
        <th>Rental price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract: ${contracts}">
        <td th:text="${contract.contract_id}"/>
        <td th:text="${contract.customer_id}"/>
        <td th:text="${contract.motorhome_id}"/>
        <td th:text="${contract.motorhome_reg_number}"/>
        <td th:text="${contract.contract_rent_price}"/>


        <td>
            <a style="text-decoration: none" th:href="@{'/viewOneContract/'+${contract.contract_id}}">
                <button class="btn", id="btn-viewOne">View</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/deleteContract/'+${contract.contract_id}}">
                <button class="btn", id="btn-delete">Delete</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/updateContract/'+${contract.contract_id}}">
                <button class="btn", id="btn-update">Update info</button>
            </a>
            <a style="text-decoration: none" th:href="@{'cancelContract/'+${contract.contract_id}}">
                <button class="btn", id="btn-cancel">Cancel contract</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<form action="/contractTable/" method="post">
    <input class="returnButton" type="submit" value="Return">
</form>
</body>
</html>