<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>DateInputError</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1>You have an error in your date input</h1>
    <div style="width: 800px; height: 100px; display: inline-block; padding:10px;" >
        <h3>Please retry and choose a valid contract ID</h3>
        <p>Remember to input it as the show format</p>
        <form action="/selectRentDays" method="get">
            <input class="button" type="submit" value="Return">
        </form>
    </div>
</div>

<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>