<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>Create Contract</title>
</head>
<h1>Create a new contract</h1>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
</div>
<div>


    <h2>Available motorhomes</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhome: ${motorhomeList}">
            <td th:text="${motorhome.motorhome_id}"/>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form action="#" th:action="@{/finalizeContract}" th:object="${contract}" method="post">
        <tr>
            <td ><label style="display: none">Enter start date</label></td>
            <td  ><input style="display: none" type="text" th:field="*{contract_start_date}" th:value="${contract.contract_start_date}"><br></td>
            <td th:if="${#fields.hasErrors('contract_start_date')}" th:errors="*{contract_start_date}"></td>
        </tr>
        <tr>
            <td><label style="display: none">Enter end date</label></td>
            <td><input style="display: none" type="text" th:field="*{contract_end_date}" th:value="${contract.contract_end_date}"><br></td>
            <td th:if="${#fields.hasErrors('contract_end_date')}" th:errors="*{contract_end_date}"></td>
        </tr>
        <tr>
            <td><label>Enter motorhomes odometer</label></td>
            <td><input type="text" th:field="*{contract_odometer_start}" placeholder="km"><br></td>
            <td th:if="${#fields.hasErrors('contract_odometer_start')}" th:errors="*{contract_odometer_start}"></td>
        </tr>
        <tr>
            <td><label>Bike rack</label></td>
            <td><input type="checkbox" th:field="*{contract_extra_bike_rack}" value="1"><br></td>
            <td th:if="${#fields.hasErrors('contract_extra_bike_rack')}" th:errors="*{contract_extra_bike_rack}"></td>
        </tr>
        <tr>
            <td><label>Bed sheets</label></td>
            <td><input type="checkbox" th:field="*{contract_extra_bed_sheets}" value="1"><br></td>
            <td th:if="${#fields.hasErrors('contract_extra_bed_sheets')}" th:errors="*{contract_extra_bed_sheets}"></td>
        </tr>
        <tr>
            <td><label>Child seat</label></td>
            <td><input type="checkbox" th:field="*{contract_extra_child_seat}" value="1"><br></td>
            <td th:if="${#fields.hasErrors('contract_extra_child_seat')}" th:errors="*{contract_extra_child_seat}"></td>
        </tr>
        <tr>
            <td><label>Picnic table</label></td>
            <td><input type="checkbox" th:field="*{contract_extra_picnic_table}" value="1"><br></td>
            <td th:if="${#fields.hasErrors('contract_extra_picnic_table')}" th:errors="*{contract_extra_picnic_table}"></td>
        </tr>
        <tr>
            <td><label>Chairs</label></td>
            <td><input type="checkbox" th:field="*{contract_extra_chairs}" value="1"><br></td>
            <td th:if="${#fields.hasErrors('contract_extra_chairs')}" th:errors="*{contract_extra_chairs}"></td>
        </tr>
        <tr>
            <td><label>Distance from pickup in km</label></td>
            <td><input type="text" th:field="*{contract_pick_up_distance}" placeholder="kilometer"><br></td>
            <td th:if="${#fields.hasErrors('contract_pick_up_distance')}" th:errors="*{contract_pick_up_distance}"></td>
        </tr>
        <tr>
            <td><label>Distance from drop off in km</label></td>
            <td><input type="text" th:field="*{contract_drop_off_distance}" placeholder="kilometer"><br></td>
            <td th:if="${#fields.hasErrors('contract_drop_off_distance')}" th:errors="*{contract_drop_off_distance}"></td>
        </tr>
        <tr>
            <td><label>Enter customer id</label></td>
            <td><input type="text" th:field="*{customer_id}" placeholder="Customer Id"><br></td>
            <td th:if="${#fields.hasErrors('customer_id')}" th:errors="*{customer_id}"></td>
        </tr>
        <tr>
            <td><label>Enter motorhome id</label></td>
            <td><input type="text" th:field="*{motorhome_id}" placeholder="Motorhome id"><br></td>
            <td th:if="${#fields.hasErrors('motorhome_id')}" th:errors="*{motorhome_id}"></td>
        </tr>

        <tr>
            <td><input class="btn" type="submit" value="Create"></td>
        </tr>
    </form>
</div>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>