<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Create new motorhome </h1>
<table>
    <form action="/createMotorhome" method="post">
        <tr>
            <td><label>Enter registration number</label></td>
            <td><input type="text" name="motorhome_reg_number" placeholder="Reg. number"><br></td>
        </tr>
        <tr>
            <td><label>Enter type</label></td>
            <td><input type="text" name="type_id" placeholder="Type"><br></td>
        </tr>
        <tr>
            <td><label>Enter brand</label></td>
            <td><input type="text" name="motorhome_brand" placeholder="Brand"><br></td>
        </tr>
        <tr>
            <td><label>Enter model</label></td>
            <td><input type="text" name="motorhome_model" placeholder="Model"><br></td>
        </tr>
        <tr>
            <td><label>Enter room height</label></td>
            <td><input type="text" name="motorhome_room_height" placeholder="Room height"><br></td>
        </tr>
        <tr>
            <td><label>Enter odometer value</label></td>
            <td><input type="text" name="motorhome_odometer" placeholder="Odometer value"><br></td>
        </tr>
        <tr>
            <td><input class="returnButton" type="submit" value="Create"></td>
        </tr>
    </form>
</table>
</body>
</html>