<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create invoice</title>
</head>
<body>
<table>
    <td>
        <h1> Create new invoice </h1>
        <table>
            <form action="#" th:action="@{/createInvoice}" th:object="${invoice}" method="post">
                <tr style="display: none">
                    <td><label>Enter invoice ID</label></td>
                    <td><input type="text" th:field="*{invoice_id}" placeholder="ID"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_id')}" th:errors="*{invoice_id}"></td>
                </tr>
        <!--        <tr>-->
        <!--            <td ><label>Enter total price</label></td>-->
        <!--            <td><input type="text" name="invoice_total_price" placeholder="Total price"><br></td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <td><label>Enter distance driven</label></td>-->
        <!--            <td><input type="text" name="invoice_distance_drive" placeholder="Distance"><br></td>-->
        <!--        </tr>-->
                <tr>
                    <td><label>Enter odometer end</label></td>
                    <td><input type="text" th:field="*{invoice_odometer_end}" placeholder="Odometer End"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_odometer_end')}" th:errors="*{invoice_odometer_end}"></td>
                </tr>
                <tr>
                    <td><label>Enter contract ID</label></td>
                    <td><input type="text" th:field="*{contract_id}" placeholder="ID"><br></td>
                    <td th:if="${#fields.hasErrors('contract_id')}" th:errors="*{contract_id}"></td>
                </tr>
                <tr>
                    <td><label>Enter fuel gage</label></td>
                    <td><input type="checkbox" th:field="*{invoice_fuel_gage}" value="1"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_fuel_gage')}" th:errors="*{invoice_fuel_gage}"></td>
                </tr>
                <tr>
                    <td><input class="returnButton" type="submit" value="Create"></td>
                </tr>
            </form>
        </table>
    </td>
    <td>
        <h1> Available contracts </h1>

        <table>
            <thead>
            <tr>
                <th>Contract Id</th>
                <th>Customer Id</th>
                <th>Motorhome Id</th>
                <th>Motorhome Registration Number</th>
                <th>Rental price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract: ${contracts}">
                <td th:text="${contract.contract_id}"/>
                <td th:text="${contract.customer_id}"/>
                <td th:text="${contract.motorhome_id}"/>
                <td th:text="${contract.motorhome_reg_number}"/>
                <td th:text="${contract.contract_rent_price}"/>
            </tr>
            </tbody>
        </table>
    </td>
</table>
</body>
</html>