<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
</head>
<h1>Create a new contract</h1>
<body>
<form action="/createContract" method="post">
    <tr>
        <td><label>Enter start date</label></td>
        <td><input type="text" name="contract_start_date" placeholder="Start date (YYYY-MM-DD)"><br></td>
    </tr>
    <tr>
        <td><label>Enter end date</label></td>
        <td><input type="text" name="contract_end_date" placeholder="End date (YYYY-MM-DD)"><br></td>
    </tr>
    <tr>
        <td><label>Bike rack 1(yes) 0(no)</label></td>
        <td><input type="text" name="contract_extra_bike_rack" placeholder="1(yes) 0(no)"><br></td>
    </tr>
    <tr>
        <td><label>Bed sheets 1(yes) 0(no)</label></td>
        <td><input type="text" name="contract_extra_bed_sheets" placeholder="1(yes) 0(no)"><br></td>
    </tr>
    <tr>
        <td><label>Child seat 1(yes) 0(no)</label></td>
        <td><input type="text" name="contract_extra_child_seat" placeholder="1(yes) 0(no)"><br></td>
    </tr>
    <tr>
        <td><label>Picnic table 1(yes) 0(no)</label></td>
        <td><input type="text" name="contract_extra_picnic_table" placeholder="1(yes) 0(no)"><br></td>
    </tr>
    <tr>
        <td><label>Chairs 1(yes) 0(no)</label></td>
        <td><input type="text" name="contract_extra_chairs" placeholder="1(yes) 0(no)"><br></td>
    </tr>
    <tr>
        <td><label>Enter customer id</label></td>
        <td><input type="text" name="customer_id" placeholder="Customer Id"><br></td>
    </tr>
    <tr>
        <td><label>Enter Motorhome Registration Number</label></td>
        <td><input type="text" name="motorhome_reg_number" placeholder="Registration Number"><br></td>
    </tr>

    <tr>
        <td><input class="returnButton" type="submit" value="Create"></td>
    </tr>
</form>
</body>
</html>