<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>Create invoice</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
    <a href="/AboutUs">About Us</a>
</div>
<table style="width:100%">
    <td>
        <h1> Create new invoice </h1>
        <table>
            <form action="#" th:action="@{/createInvoice}" th:object="${invoice}" method="post">
                <tr style="display: none">
                    <td><label>Enter invoice ID</label></td>
                    <td><input type="text" th:field="*{invoice_id}" placeholder="ID"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_id')}" th:errors="*{invoice_id}"></td>
                </tr>
<!--                <tr>-->
<!--                    <td ><label>Enter total price</label></td>-->
<!--                    <td><input type="text" name="invoice_total_price" placeholder="Total price"><br></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><label>Enter distance driven</label></td>-->
<!--                    <td><input type="text" name="invoice_distance_drive" placeholder="Distance"><br></td>-->
<!--                </tr>-->
                <tr>
                    <td><label>Enter odometer end</label></td>
                    <td><input type="text" th:field="*{invoice_odometer_end}" placeholder="Odometer End"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_odometer_end')}" th:errors="*{invoice_odometer_end}"></td>
                </tr>
                <tr>
                    <td><label>Enter contract ID</label></td>
                    <td><input type="text" th:field="*{contract_id}" placeholder="ID"><br></td>
                    <td th:if="${#fields.hasErrors('contract_id')}" th:errors="*{contract_id}"></td>
                </tr>
                <tr>
                    <td><label>Enter fuel gage</label></td>
                    <td><input type="checkbox" th:field="*{invoice_fuel_gage}" value="1"><br></td>
                    <td th:if="${#fields.hasErrors('invoice_fuel_gage')}" th:errors="*{invoice_fuel_gage}"></td>
                </tr>
                <tr>
                    <td><input class="btn" type="submit" value="Create"></td>
                </tr>
            </form>
        </table>
    </td>
    <td>
        <h1> Available contracts </h1>

        <table>
            <thead>
            <tr>
                <th>Contract Id</th>
                <th>Customer Id</th>
                <th>Motorhome Id</th>
                <th>Motorhome Registration Number</th>
                <th>Rental price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract: ${contracts}">
                <td th:text="${contract.contract_id}"/>
                <td th:text="${contract.customer_id}"/>
                <td th:text="${contract.motorhome_id}"/>
                <td th:text="${contract.motorhome_reg_number}"/>
                <td th:text="${contract.contract_rent_price}"/>
            </tr>
            </tbody>
        </table>
    </td>
</table>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>