<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rental</title>
</head>
<body>
<h1> Nordic Motorhome Rental </h1>
<a style="text-decoration: none" href = "/customerTable">
    <button class="btn">See all customers</button>
</a>
<a style="text-decoration: none" href = "/motorhomeTable">
    <button class="btn">See all motorhomes</button>
</a>

<a style="text-decoration: none" href = "/invoiceTable">
    <button class="btn">See all invoices</button>
</a>
<a style="text-decoration: none" href = "/contractTable">
    <button class="btn">See all contracts</button>
</a>
<a style="text-decoration: none" href = "/repairTable">
    <button class="btn">See all repairs</button>
</a>
</body>
</html>