<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="IndexStyle.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rental</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
</div>


<h1> Nordic Motorhome Rental </h1>
<div class="wrapper">
<pre>
asdasd
asdasd
asdasd
asdasdasd
asdasd
asdasdasd
</pre>
</div>

<div class="wrapper">
<div class="div1">
    <table>
        <tr>
            <td>
    <a style="text-decoration: none" href = "/customerTable">
        <button class="button"><img src="customerIcon.png" alt="" width="55 px" height="70 px" align="left"><span>Customers</span></button>
    </a></td>
            <td>
    <a style="text-decoration: none" href = "/invoiceTable">
        <button class="button" ><img src="invoiceIcon.png" alt="" width="55 px" height="70 px" align="left"><span>Invoices</span></button>
    </a></td>
        </tr>
        <tr>
        <td>
    <a style="text-decoration: none" href = "/contractTable">
        <button class="button"><img src="contractIcon.png" alt="" width="55 px" height="70 px" align="left"><span>Contracts</span></button>
    </a>
        </td>
        <td>
        <a style="text-decoration: none" href = "/motorhomeTable">
            <button style="height:42px" class="button1"><img src="motorhomeIcon.png" alt="" width="48 px" height="33px" align="left"><span>Motorhomes</span></button>
        </a>
        <a style="text-decoration: none" href = "/repairTable">
            <button style="height:42px" class="button1"> <img src="repairIcon.png" alt="" width="42 px" height="30 px" align="left"><span>Repairs</span></button>
        </a>
        </td>
        </tr>
    </table>
</div>
</div>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>