<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>Invoices</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
</div>


<h1>Invoice menu</h1>
<a href = "/createInvoice">
    <button class="btn">Create new invoice</button>
</a>
<div class="table-wrapper">
    <div class="table-scroll">
<table>
    <thead>
    <tr>
        <th>Invoice Id</th>
        <th>Contract Id</th>
        <th>Total Price</th>
        <th>Distance Driven</th>
        <th>Odometer at End</th>
        <th>Days rented</th>
        <th>Fuel gage under 50%</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice: ${invoice}">
        <td th:text="${invoice.invoice_id}"/>
        <td th:text="${invoice.contract_id}"/>
        <td th:text="${invoice.invoice_total_price}"/>
        <td th:text="${invoice.invoice_distance_driven}"/>
        <td th:text="${invoice.invoice_odometer_end}"/>
        <td th:text="${invoice.invoice_rent_days}"/>
        <td th:text="${invoice.invoice_fuel_gage}"/>

        <td>
           <a style="text-decoration: none" th:href="@{'/viewInvoice/'+${invoice.invoice_id}}">
                <button class="btn">View</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/updateInvoice/'+${invoice.invoice_id}}">
                <button class="btn">Update info</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/deleteInvoice/'+${invoice.invoice_id}}">
                <button class="btn1">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>
<form action="/invoiceTable/" method="post">
    <input class="btn" type="submit" value="Return">
</form>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>