<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>
</head>
<body>
<h1>Invoice menu</h1>
<a href = "/createInvoice">
    <button>Create new invoice</button>
</a>
<table>
    <thead>
    <tr>
        <th>Invoice Id</th>
        <th>Contract Id</th>
        <th>Total Price</th>
        <th>Distance Driven</th>
        <th>Odometer at End</th>
        <th>Days rented</th>
        <th>Fuel gage under 50%</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice: ${invoice}">
        <td th:text="${invoice.invoice_id}"/>
        <td th:text="${invoice.contract_id}"/>
        <td th:text="${invoice.invoice_total_price}"/>
        <td th:text="${invoice.invoice_distance_driven}"/>
        <td th:text="${invoice.invoice_odometer_end}"/>
        <td th:text="${invoice.invoice_rent_days}"/>
        <td th:text="${invoice.invoice_fuel_gage}"/>

        <td>
           <a style="text-decoration: none" th:href="@{'/viewInvoice/'+${invoice.invoice_id}}">
                <button class="btn", id="btn-viewOne">View</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/deleteInvoice/'+${invoice.invoice_id}}">
                <button class="btn", id="btn-delete">Delete</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/updateInvoice/'+${invoice.invoice_id}}">
                <button class="btn", id="btn-update">Update info</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<form action="/invoiceTable/" method="post">
    <input class="returnButton" type="submit" value="Return">
</form>
</body>
</html>