<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="Logo.png">
    <link rel="stylesheet" href="MyCSS.css">
    <link rel="stylesheet" href="TableManager.css">
    <link rel="stylesheet" href="NavBar.css">
    <meta charset="UTF-8">
    <title>Motorhome table</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
    <a href="/AboutUs">About Us</a>
</div>
<h1>Motorhome menu</h1>
<a href = "/createMotorhome">
    <button class="btn">Create new motorhome</button>
</a>
<div class="table-wrapper">
    <div class="table-scroll">
<table>
    <thead>
    <tr>
        <th>Reg. number</th>
        <th>Type</th>
        <th>Brand</th>
        <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome: ${motorhome}">
        <td th:text="${motorhome.motorhome_reg_number}"/>
        <td th:text="${motorhome.type_description}"/>
        <td th:text="${motorhome.motorhome_brand}"/>
        <td th:text="${motorhome.motorhome_model}"/>

        <td>
            <a style="text-decoration: none" th:href="@{'/viewOneMotorhome/'+${motorhome.motorhome_id}}">
                <button class="btn">View Details</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/updateMotorhome/'+${motorhome.motorhome_id}}">
                <button class="btn">Update info</button>
            </a>
            <a style="text-decoration: none" th:href="@{'/deleteMotorhome/'+${motorhome.motorhome_id}}">
                <button class="btn1">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>
<form action="/motorhomeTable/" method="post">
    <input class="btn" type="submit" value="Return">
</form>
</body>
</html>