<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/createContract}" th:object="${contract}" method="get">
    <tr>
        <td><label>Enter start date</label></td>
        <td><input type="text" th:field="*{contract_start_date}" placeholder="Start date (YYYY-MM-DD)"><br></td>
        <td th:if="${#fields.hasErrors('contract_start_date')}" th:errors="*{contract_start_date}"></td>
    </tr>
    <tr>
        <td><label>Enter end date</label></td>
        <td><input type="text" th:field="*{contract_end_date}" placeholder="End date (YYYY-MM-DD)"><br></td>
        <td th:if="${#fields.hasErrors('contract_end_date')}" th:errors="*{contract_end_date}"></td>
    </tr>
    <tr>
        <td><input class="returnButton" type="submit" value="Create"></td>
    </tr>
</form>

</body>
</html>