<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
<h1>Repair update</h1>
<table>
    <form action="/updateCustomer" method="post">
        <tr style="display: none">
            <td><label>Customer id</label></td>
            <td><input type="text" name="customer_id" th:value="${customer.customer_id}"><br></td>
        </tr>
        <tr>
            <td><label>First name</label></td>
            <td><input type="text" name="customer_first_name" th:value="${customer.customer_first_name}"><br></td>
        </tr>
        <tr>
            <td><label>last name</label></td>
            <td><input type="text" name="customer_last_name" th:value="${customer.customer_last_name}"><br></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" name="customer_address" th:value="${customer.customer_address}"><br></td>
        </tr>
        <tr>
            <td ><label>Drivers license number</label></td>
            <td><input type="text" name="customer_drivers_license" th:value="${customer.customer_drivers_license}"><br></td>
        </tr>
        <tr>
            <td><label>License type</label></td>
            <td><input type="text" name="customer_license_type" th:value="${customer.customer_license_type}"><br></td>
        </tr>
        <tr>
            <td><label>Phone number</label></td>
            <td><input type="text" name="customer_phone" th:value="${customer.customer_phone}"><br></td>
        </tr>
        <tr>
            <td><label>Nationality</label></td>
            <td><input type="text" name="customer_nationality" th:value="${customer.customer_nationality}"><br></td>
        </tr>
        <tr style="display: none">
            <td><label>City</label></td>
            <td><input type="text" name="customer_city" th:value="${customer.customer_city}"><br></td>
        </tr>
        <tr style="display: none">
            <td><label>Zip code</label></td>
            <td><input type="text" name="customer_zip_code" th:value="${customer.customer_zip_code}"><br></td>
        </tr>
        <tr>
            <td><input class="returnButton" type="submit" value="Update"></td>
        </tr>
    </form>
</table>
</body>
</html>