<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/Logo.png">
    <link rel="stylesheet" href="/MyCSS.css">
    <link rel="stylesheet" href="/TableManager.css">
    <link rel="stylesheet" href="/NavBar.css">
    <meta charset="UTF-8">
    <title>Edit Details</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
    <a href="/AboutUs">About Us</a>
</div>
<h1>Edit Motorhome</h1>
<form action="#" th:action="@{/updateMotorhome}" th:object="${motorhome}" method="post">
    <table id="submitTable" style="width: 22%">
        <thead>
        <tr>
            <th>Info</th>
            <th>Input</th>
        </tr>
        </thead>
        <tbody style="text-align: left">
        <tr style="display: none">

            <td><label>Motorhome ID</label></td>
            <td><input type="text" name="motorhome_id" th:value="${motorhome.motorhome_id}"></td>
        </tr>
        <tr>
            <td><label>Motorhome registration number</label></td>
            <td><input type="text" th:field="*{motorhome_reg_number}" th:value="${motorhome.motorhome_reg_number}"></td>
            <td th:if="${#fields.hasErrors('motorhome_reg_number')}" th:errors="*{motorhome_reg_number}"></td>
        </tr>
        <tr>
            <td><label>Brand</label></td>
            <td><input type="text" th:field="*{motorhome_brand}" th:value="${motorhome.motorhome_brand}"></td>
            <td th:if="${#fields.hasErrors('motorhome_brand')}" th:errors="*{motorhome_brand}"></td>
        </tr>
        <tr>
            <td><label>Height from floor to ceiling in cm</label></td>
            <td><input type="text" th:field="*{motorhome_room_height}" th:value="${motorhome.motorhome_room_height}"></td>
            <td th:if="${#fields.hasErrors('motorhome_room_height')}" th:errors="*{motorhome_room_height}"></td>
        </tr>
        <tr>
            <td><label>Model</label></td>
            <td><input type="text" th:field="*{motorhome_model}" th:value="${motorhome.motorhome_model}"></td>
            <td th:if="${#fields.hasErrors('motorhome_model')}" th:errors="*{motorhome_model}"></td>
        </tr>
        <tr>
            <td><label>Odometer</label></td>
            <td><input type="text" th:field="*{motorhome_odometer}" th:value="${motorhome.motorhome_odometer}"></td>
            <td th:if="${#fields.hasErrors('motorhome_odometer')}" th:errors="*{motorhome_odometer}"></td>
        </tr>
        <tr>
            <td><label>Type ID</label></td>
            <td><input type="text" th:field="*{type_id}" th:value="${motorhome.type_id}"></td>
            <td th:if="${#fields.hasErrors('type_id')}" th:errors="*{type_id}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <input class="button" type="submit" value="Save changes">
</form>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>