<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit contract</h1>
<form action="/updatedContract" method="post">
    <table id="submitTable" style="width: 22%">
        <thead>
        <tr>
            <th>Info</th>
            <th>Input</th>
        </tr>
        </thead>
        <tbody style="text-align: left">
        <tr>
            <td>
                <label>Contract ID</label>
            </td>
            <td>
                <input type="text" name="contract_id" th:value="${contract.contract_id}">
            </td>
        </tr>
        <tr>
            <td>
                <label>Customer ID</label>
            </td>
            <td>
                <input type="text" name="customer_id" th:value="${contract.customer_id}">
            </td>
        </tr>
        <tr>
            <td>
                <label>Start date</label>
            </td>
            <td>
                <input type="text" name="contract_start_date" th:value="${contract.contract_start_date}">
            </td>
        </tr>
        <tr>
            <td>
                <label>End date</label>
            </td>
            <td>
                <input type="text" name="contract_from_date" th:value="${contract.contract_from_date}">
            </td>
        </tr>
        <tr>
            <td>
                <label>Start odometer</label>
            </td>
            <td>
                <input type="text" name="contract_odometer" th:value="${contract.contract_odometer}">
            </td>
        </tr>
        <tr>
            <td>
                <label>Car registration number</label>
            </td>
            <td>
                <input type="text" name="car_reg_number" th:value="${contract.car_reg_number}">
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Save changes">
</body>
</html>