<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contract info</h1>
<table>
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Customer ID</th>
        <th>Motorhome ID</th>
        <th>Motorhome registration number</th>
        <th>Rental price</th>
        <th>Start date for contract</th>
        <th>End date for contract</th>
        <th>Start odometer</th>
        <th>Bike rack</th>
        <th>Child seat</th>
        <th>Bed sheets</th>
        <th>Picnic table</th>
        <th>Chairs</th>
        <th>Distance from pick up</th>
        <th>Distance to drop off</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${contract.contract_id}"></span></td>
        <td><span th:text="${contract.customer_id}"></span></td>
        <td><span th:text="${contract.motorhome_id}"></span></td>
        <td><span th:text="${contract.motorhome_reg_number}"></span></td>
        <td><span th:text="${contract.contract_rent_price}"></span></td>
        <td><span th:text="${contract.contract_start_date}"></span></td>
        <td><span th:text="${contract.contract_end_date}"></span></td>
        <td><span th:text="${contract.contract_odometer_start}"></span></td>
        <td><span th:text="${contract.contract_extra_bike_rack}"></span></td>
        <td><span th:text="${contract.contract_extra_child_seat}"></span></td>
        <td><span th:text="${contract.contract_extra_bed_sheets}"></span></td>
        <td><span th:text="${contract.contract_extra_picnic_table}"></span></td>
        <td><span th:text="${contract.contract_extra_chairs}"></span></td>
        <td><span th:text="${contract.contract_pick_up_distance}"></span></td>
        <td><span th:text="${contract.contract_drop_off_distance}"></span></td>
    </tr>
    </tbody>
</table>
<form action="/viewOneContract/" method="post">
    <input class="returnButton" type="submit" value="Return">
</form>
</body>
</html>