<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/Logo.png">
    <link rel="stylesheet" href="/MyCSS.css">
    <link rel="stylesheet" href="/TableManager.css">
    <link rel="stylesheet" href="/NavBar.css">
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/customerTable">Customers</a>
            <a href="/contractTable">Contracts</a>
            <a href="/invoiceTable">Invoices</a>
            <a href="/motorhomeTable">Motorhomes</a>
            <a href="/repairTable">Repairs</a>
        </div>
    </div>
</div>


<h1>Invoice info</h1>
<div class="wrapper">
    <div style="width: 800px; height: 100px; display: inline-block; padding:10px;" >
        <table style="border-collapse: collapse; width: 50%; margin: 20px 0px 0px 0px; margin:auto; ">
            <tbody style="margi: auto">
            <tr>
                <td class="infoBox"><label>Invoice ID</label></td>
                <td><span th:text="${invoice.invoice_id}"></span></td>
            </tr>
            <tr>
                <td class="infoBox"> <label>Contract ID</label></td>
                <td><span th:text="${invoice.contract_id}"></span></td>
            </tr>
            <tr>
                <td class="infoBox">Distrance driven</td>
                <td><span th:text="${invoice.invoice_distance_driven}"></span></td>
            </tr>
            <tr>
                <td class="infoBox">Odometer end</td>
                <td><span th:text="${invoice.invoice_odometer_end}"></span></td>
            </tr>
            <tr>
                <td class="infoBox">Rent days</td>
                <td><span th:text="${invoice.invoice_rent_days}"></span></td>
            </tr>
            <tr>
                <td class="infoBox"><label>Fuel gage</label></td>
                <td><span th:text="${invoice.invoice_fuel_gage}"></span></td>
            </tr>
            <tr>
                <td class="infoBox"><label>Total price</label></td>
                <td><span th:text="${invoice.invoice_total_price}"></span></td>
            </tr>
            </tbody>
        </table>
        <form action="/viewInvoice/" method="post">
            <input class="button" type="submit" value="Return">
        </form>
        </pre>
    </div>
</div>
<img src="/LogoFinal2.png" alt="LogoFinal.jpeg" style="opacity: 45%; position: fixed; bottom: -50px; right: 50px">
</body>
</html>

<!-- Har udkommenteret invoice_total_price for nu, da det ikke virker og jeg ikke kan finde en løsning. Afventer snak med Cay - Christoffer-->